.article-individual{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 60px auto ;
    width: 40%;
    border-style: solid;
    background-color: rgb(245, 239, 215);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

.individual-img {
    width: 150px;
    padding: 0 50px;
    background-color: white;
    border-style: groove;
}