.contador {
    display: flex;
    flex-direction: column;
    color: black;
}

.contador p {
    margin: 0;
}

.details {
    display: flex;

}

.details p {
    margin-right: 15px;
}

.stock{
    line-height: 20px;
    opacity: 0.5;
    text-transform: capitalize;
}

.botones {
    margin: 5px 0px 15px 0px;
}

.botones button {
    margin: 4px;
    border: none;
    border-radius: 25%;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    background-color: rgb(217, 220, 218);
    cursor: pointer;
}

.botones button:hover {
    box-shadow: 0 6px 8px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
